h2 {
  font-size: larger !important;
  font-weight: bold !important;
  color: rgb(119, 255, 255) !important;
}

label,
span,
p {
  font-size: medium;
  font-weight: 500;
  color: #28bfbf;
}

input {
  font-size: medium !important;
  font-weight: 500 !important;
  color: rgb(10, 28, 28) !important;
  padding-left: 0.5em !important;
}
